/* src/styles/PlayerSetup.module.css */
.playerSetupContainer {
    /* background-color: var(--background-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}

.playerInput {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 50%; /* Adjust width as needed */
}

.startButton {
    background-color: var(--primary-color); /* Green background */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.startButton:hover{
    background-color: var(--secondary-color);
}

