/* src/styles/App.css */
:root {
    --primary-color: #3498db; /* Blue */
    --secondary-color: #2ecc71; /* Green */
    --accent-color: #e74c3c; /* Red */
    --background-color: #ecf0f1; /* Light Gray */
    --text-color: #2c3e50; /* Dark Gray */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent for glass effect */
    border-right: 1px solid var(--primary-color); /* Border using primary color */
}

.sidebar .navLink {
    color: var(--text-color); /* Text color for links */
    text-decoration: none; /* Remove underline */
}

.sidebar .navLink:hover {
    color: var(--accent-color); /* Change color on hover */
}

.playerSetupContainer {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.startButton {
    background-color: var(--primary-color); /* Primary color for button */
    color: white; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.startButton:hover {
    background-color: var(--secondary-color); /* Change to secondary color on hover */
}
